/* MOBILE FIRST */
/* Mobile */
/* -- header */
:root {
  /* colors */
  --primary-color: red;
  --secondary-color: lightblue;

  --text-dark-color: black;
  --text-light-color: white;
}
.header {
  background-color: var(--primary-color);
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container div {
  color: var(--text-light-color);
  font-size: 1.3em;
  font-weight: bold;
  text-transform: uppercase;
}

.container nav ul {
  display: flex;
  list-style: none;
}

.container nav ul li {
  padding: 15px;
}
.container nav ul li a {
  color: var(--text-light-color);
  text-decoration: none;
}

.container nav ul li:hover {
  background: white;
}

.container nav ul li:hover a {
  color: var(--primary-color);
}
